/*! CSS Custom Styles - v1.1 - 2023-01-01
* Includes:
* Copyright; Licensed MIT */

/* Layout helpers
----------------------------------*/
/* Grid */
.centerHeaderText th {
    text-align: center;
}
.maxWidthGrid
{
    max-width: 100px;
    overflow: hidden;
}

/* DivPopUp */
.mfp-wrap.edit-ticket-class .mfp-content {
    /*height: 800px;*/
    max-height: 90vh;
    width: 1100px;
    max-width: 90vw;
}

/* Alert Loading */
.modal
{
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    z-index: 99;
    opacity: 0.8;
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    min-height: 100%;
    width: 100%;
}
.loading
{
    font-family: Arial;
    font-size: 10pt;
    border: 5px solid #67CFF5;
    width: 200px;
    height: 100px;
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    color:white;
    font-style:italic;
    z-index: 999;
}